*{
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin:0 auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}

.bookmark-list {
    list-style: none;
    width: 95%;
}

.js-bookmark-element{
    align-self: center;
    width: 75%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0  auto;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;

}

.bookmark-name{
    text-align: left;
    display: inline;
}

#stars {
    display: inline;
    list-style-type: none;
    padding: 0;
}

#stars li {
    display: inline-block;
    padding: 5px;
}



.rating-stars {
    align-content: horizontal;
}

.filled {
    color: red;
}

.title-of{
    display: inline;
    margin-left: 5px;
}

.rating-of{
    display: inline;
    margin-right: 5px;
}

.add-and-filter{
    width: 100%;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }

  